nav a {
    padding: 10px;
  }
  .gallery {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  img {
    cursor: pointer;
    width: 150px;
    margin: 2px;
    flex-basis: 20%;
    transition: .3s all;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }